---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Image } from "astro:assets";

const menuitems = [
  // {
  //   title: "Features",
  //   path: "#",
  //   children: [
  //     { title: "Action", path: "/" },
  //     { title: "Another action", path: "#" },
  //     { title: "Dropdown Submenu", path: "#" },
  //     { title: "404 Page", path: "/404" },
  //   ],
  // },
  {
    title: "Home",
    path: "/",
    children: false,
  },
  {
    title: "Product",
    path: "/products",
  },
  // {
  //   title: "Pricing",
  //   path: "/pricing",
  // },
  {
    title: "About",
    path: "/about",
    children: false,
  },
  // {
  //   title: "Blog",
  //   path: "/blog",
  // },
  {
    title: "Contact",
    path: "/contact",
    children: false,
  },
];
---

<Container>
  <div class="w-full flex justify-center">
    <header class="bg-white fixed shadow-sm rounded-lg w-full md:px-10">
      <div class="flex flex-col lg:flex-row justify-between items-center p-5">
        <Astronav>
          <div class="flex w-full lg:w-auto items-center justify-between">
            <a href="/" class="text-lg flex">
              <Image
                src="/ontum_logo.png"
                alt="Ontum Logo"
                width="50"
                height="50"
                class="w-16 h-16"
                loading="eager"
              />
              <div class="p-2">
                <span class="font-bold text-ontum-blue text-xl">Ontum</span>
                <br />
                <span class="text-slate-500">Education</span>
              </div>
            </a>
            <div class="block lg:hidden">
              <MenuIcon class="w-4 h-4 text-gray-800" />
            </div>
          </div>
          <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
            <ul class="flex flex-col lg:flex-row lg:gap-3">
              {
                menuitems.map((item, index) => (
                  <>
                    {item?.children && (
                      <Dropdown
                        title={item.title}
                        children={item.children}
                        lastItem={index === menuitems.length - 1}
                      />
                    )}

                    {!item?.children && (
                      <li>
                        <a
                          href={item.path}
                          class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900"
                        >
                          {item.title}
                        </a>
                      </li>
                    )}
                  </>
                ))
              }
            </ul>
            <div class="lg:hidden flex items-center mt-3 gap-4">
              <Link
                href="https://app.ontum.co"
                target="_blank"
                rel="noopener"
                style="muted"
                block
                size="md"
              >
                Log in
              </Link>
              <Link
                href="https://app.ontum.co"
                target="_blank"
                rel="noopener"
                size="md"
                block
              >
                Sign up
              </Link>
            </div>
          </MenuItems>
        </Astronav>
        <div>
          <div class="hidden lg:flex items-center gap-4">
            <a href="https://app.ontum.co" target="_blank" rel="noopener"
              >Log in</a
            >
            <Link
              href="https://app.ontum.co"
              target="_blank"
              rel="noopener"
              size="md"
            >
              Sign up
            </Link>
          </div>
        </div>
      </div>
    </header>
  </div>
</Container>
