<footer class="mt-20 py-20 bg-ontum-blue">
  <p class="text-center text-sm text-slate-300">
    Copyright © {new Date().getFullYear()} Ontum Education Pvt. Ltd. All rights
    reserved.
  </p>
  <br />
  <p class="text-center text-sm text-slate-300" >
    <a href="/terms-of-service"> Terms of Service</a> |
    <a href="/privacy-policy"> Privacy Policy</a>
  </p>
</footer>
